@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background-color: #F6F6F6
}

.btn-login,.card-footer button{
    border: none;
    background-image: linear-gradient(180deg, #a3a7ff 0, #7a8ffc 25%, #3c78f2 50%, #0063e8 75%, #0051de 100%);
}
.social-media{
    padding: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-image: linear-gradient(180deg, #a3a7ff 0, #7a8ffc 25%, #3c78f2 50%, #0063e8 75%, #0051de 100%);
}

.card-custon{

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card img{
    object-fit: contain;
    width: 90%;
    height: 95%;
}

.truncate-text{
    text-overflow:ellipsis;
    overflow:hidden;
    /* // Addition lines for 2 line or multiline ellipsis */
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

